/**
 * @justbarely/components - Tooltip (structural styles only)
 */

@import './positioning.css';

[data-component='tooltip'] {
	--offset-x: 0px;
	--offset-y: 0px;
	--show-delay: 0s;
	--hide-delay: 0s;

	position: relative;
}

[data-component='tooltip'] [data-target] {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
	z-index: 1;
	color: CanvasText;
	background-color: Canvas;
	font: message-box;
	padding: 0.25rem 0.5rem;
	border: 1px solid;
	/* Set transition to 0s by default so the delay works if used */
	transition:
		opacity 0s,
		visibility 0s;
	transition-delay: var(--hide-delay);
}

[data-component='tooltip'] [data-target][data-open] {
	visibility: visible;
	opacity: 1;
	transition:
		opacity 0s,
		visibility 0s;
	transition-delay: var(--show-delay);
}
